In [1]:
import os
import datetime

import IPython
import IPython.display
import seaborn as sns
import keras
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np

In [2]:
path = input("Enter the path:" )

Enter the path:/Users/simonmclain/Documents/Documents/Software Development with AI/Semister 4/Engineering Team Project/TUS-Engineering-Team-Project/Data/Data.xlsx

In [3]:
df = pd.read_excel(path)

In [4]:
df.head()

,dateRep,year,month,day,cases,deaths,countriesAndTerritories,geoId,popData2020,countryterritoryCode,continentExp
0,13/02/2022,2022,2,13,23534.0,4.0,Austria,AT,8901064,AUT,Europe
1,12/02/2022,2022,2,12,25406.0,16.0,Austria,AT,8901064,AUT,Europe
2,11/02/2022,2022,2,11,30369.0,19.0,Austria,AT,8901064,AUT,Europe
3,10/02/2022,2022,2,10,33490.0,18.0,Austria,AT,8901064,AUT,Europe
4,09/02/2022,2022,2,9,35336.0,10.0,Austria,AT,8901064,AUT,Europe

In [5]:
df.countryterritoryCode.unique()

array(['AUT', 'BEL', 'BGR', 'HRV', 'CYP', 'CZE', 'DNK', 'EST', 'FIN',
       'FRA', 'DEU', 'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'LVA', 'LIE',
       'LTU', 'LUX', 'MLT', 'NLD', 'NOR', 'POL', 'PRT', 'ROU', 'SVK',
       'SVN', 'ESP', 'SWE'], dtype=object)

In [6]:
df_irl = df.countryterritoryCode.isin(['IRL'])

In [7]:
df = df[df_irl]

In [8]:
df.reset_index(inplace=True)

In [9]:
df.drop(columns=['index'], inplace=True)

In [10]:
#date_time = pd.to_datetime(df.pop('dateRep'), format='%d/%m/%Y')

In [11]:
df.head()

,dateRep,year,month,day,cases,deaths,countriesAndTerritories,geoId,popData2020,countryterritoryCode,continentExp
0,14/02/2022,2022,2,14,3494.0,0.0,Ireland,IE,4964440,IRL,Europe
1,13/02/2022,2022,2,13,4331.0,0.0,Ireland,IE,4964440,IRL,Europe
2,12/02/2022,2022,2,12,4940.0,0.0,Ireland,IE,4964440,IRL,Europe
3,11/02/2022,2022,2,11,6618.0,0.0,Ireland,IE,4964440,IRL,Europe
4,10/02/2022,2022,2,10,5649.0,0.0,Ireland,IE,4964440,IRL,Europe

In [14]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
year,715.0,2.020636e+03,0.598147,2020.0,2020.0,2021.0,2021.0,2022.0
month,715.0,6.618182e+00,3.426042,1.0,4.0,7.0,10.0,12.0
day,715.0,1.566573e+01,8.821059,1.0,8.0,16.0,23.0,31.0
cases,715.0,1.756043e+03,3485.064947,-1707.0,254.5,533.0,1505.0,26122.0
deaths,715.0,8.798601e+00,18.425298,-5.0,0.0,1.0,9.0,219.0
popData2020,715.0,4.964440e+06,0.000000,4964440.0,4964440.0,4964440.0,4964440.0,4964440.0